:root {
    --font-primary: 'Poppins', sans-serif;
    --color-bg: #fff;
    --color-bg-sidebar: #4E6009;
    --color-bg-hover: rgba(255, 255, 255, 0.075);
    --color-highlight: #000000;
    --color-text: #fff;
    --font-size-base: 0.9rem;
    --font-size-logo: 1.15rem;
    --font-size-icon: 1.5rem;
    --font-size-sidebar-icon: 1.1rem;
    --spacing-base: 1rem;
    --spacing-large: 1.5rem;
    --spacing-small: 0.625rem;
    --spacing-medium: 1.625rem;
    --transition-fast: 0.25s ease-in-out;
    --transition-medium: 0.35s ease-in-out;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: var(--font-primary);
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}


#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all var(--transition-fast);
    background-color: var(--color-bg-sidebar);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: var(--spacing-base) var(--spacing-large);
}

.toggle-btn i {
    font-size: var(--font-size-icon);
    color: var(--color-text);
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: var(--color-text);
    font-size: var(--font-size-logo);
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: var(--spacing-small) var(--spacing-medium);
    color: var(--color-text);
    display: block;
    font-size: var(--font-size-base);
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: var(--font-size-sidebar-icon);
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: var(--color-bg-hover);
    border-left: 3px solid var(--color-highlight);
}

.sidebar-item {
    position: relative;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

/* Active sidebar item style */
.sidebar-item.active a.sidebar-link {
    background-color: var(--color-bg-hover); 
    border-left: 3px solid var(--color-highlight); 
    font-weight: bold;
    color: var(--color-highlight);
}

.out{
    margin-bottom: 20px;
}

